<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="turinys">
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<p:panelGrid columns="2">
				<h:outputText value="Project ID:" />
				<h:outputText value="#{projectListPageData.currentProject.id}" />

				<h:outputText value="Project name:" />
				<h:outputText value="#{projectListPageData.currentProject.name}" />

				<h:outputText value="Maker:" />
				<h:outputText value="#{projectListPageData.currentProject.manager}" />

				<h:outputText value="Make date:" />
				<h:outputText value="#{projectListPageData.currentProject.startDate}" />
			</p:panelGrid>
		</h:form>
		<h:form>
			<p:panel id="basic" header="Enter project details">
				<h:panelGrid id="grid1" columns="3" cellpadding="5">
					<h:outputLabel for="project_name" value="Project name"></h:outputLabel>
					<p:inputText id="project_name"
						value="#{projectListPageData.currentProject.name}">
						<f:validateBean />
					</p:inputText>
					<p:growl for="project_name" display="icon" />

					<h:outputLabel for="project_manager" value="Project manager"></h:outputLabel>
					<p:inputText id="project_manager"
						value="#{projectListPageData.currentProject.manager}"></p:inputText>
					<p:growl for="project_manager" display="icon" />

					<h:outputLabel for="project_startdate" value="Start date"></h:outputLabel>
					<p:calendar id="project_startdate"
						value="#{projectListPageData.currentProject.startDate}"
						pattern="yyyy-MM-dd"></p:calendar>
					<p:growl for="project_startdate" display="icon" />

				</h:panelGrid>

			</p:panel>

			<h:commandButton actionListener="#{projectListPage.save()}"
				action="projects" value="Save project details">
			</h:commandButton>
			<h:commandButton actionListener="#{projectListPage.cancel()}"
				action="projects" value="Cancel">
			</h:commandButton>
		</h:form>

	</ui:define>

	<ui:define name="pavadinimas">
 	 	Add or update project
 	 </ui:define>

</ui:composition>