<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="turinys">
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<p:panelGrid columns="2">
				<h:outputText value="Current project ID:" />
				<h:outputText value="#{projectListPageData.currentProject.id}" />

				<h:outputText value="Serial number:" />
				<h:outputText value="#{projectListPageData.currentProject.name}" />

				<h:outputText value="Maker:" />
				<h:outputText value="#{projectListPageData.currentProject.manager}" />

				<h:outputText value="Make date:" />
				<h:outputText value="#{projectListPageData.currentProject.startDate}" />
			</p:panelGrid>
		</h:form>
		<h:form>
			<p:dataTable id="assignmentTable"
				value="#{projectListPage.getFreshAssignmentList()}" var="assignment">
				<p:column headerText="Id">
					<h:outputText value="#{assignment.id}" />
				</p:column>

				<p:column headerText="Name">
					<h:outputText value="#{assignment.name}" />
				</p:column>

				<p:column headerText="">
					<p:commandButton value="Delete" update="@form" immediate="true"
						actionListener="#{assignmentListPage.delete(assignment)}">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton value="Update"
						action="#{assignmentListPage.update(assignment)}" />
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>


			<p:panel id="basicAssignment" header="New assignment">
				<h:panelGrid id="grid2" columns="3" cellpadding="5">
					<h:outputLabel for="assignment_name" value="Assignment name"></h:outputLabel>
					<h:inputText id="assignment_name"
						value="#{assignmentListPageData.currentAssignment.name}">
						<f:validateBean />
					</h:inputText>
					<p:growl for="assignment_name" display="icon" />
				</h:panelGrid>
			</p:panel>

			<p:commandButton action="addOrRemoveAssignments"
				actionListener="#{assignmentListPage.save()}"
				update="@form" value="Add new assignment">
			</p:commandButton>
			<p:commandButton actionListener="#{assignmentListPage.cancel()}"
				action="projects" value="Cancel">
			</p:commandButton>
		</h:form>
	</ui:define>

	<ui:define name="pavadinimas">
 	 	Add or remove assignments on selected project
 	 </ui:define>

</ui:composition>