<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

	<ui:define name="turinys">
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="false" />

			<p:dataTable value="#{projectListPage.projectList}" var="project">
				<p:column headerText="Id">
					<h:outputText value="#{project.id}" />
				</p:column>

				<p:column headerText="Serial">
					<h:outputText value="#{project.name}" />
				</p:column>

				<p:column headerText="Maker">
					<h:outputText value="#{project.manager}" />
				</p:column>

				<p:column headerText="Make date">
					<h:outputText value="#{project.startDate}" />
				</p:column>

				<p:column headerText="Select a project:">
					<p:commandButton value="Manage assignments"
						action="addOrRemoveAssignments"
						actionListener="#{assignmentListPage.addNewAssignment(project)}">
					</p:commandButton>
					<p:commandButton value="Edit info"
						action="#{projectListPage.update(project)}">
					</p:commandButton>
					<p:commandButton value="Delete project"
						action="#{projectListPage.delete(project)}">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>
			<p:commandButton action="addOrUpdateProject"
				actionListener="#{projectListPage.create()}" update="@form"
				value="Create new project" />

		</h:form>

		<f:facet name="header">
			<p:graphicImage name="infundibulogo.png" />
		</f:facet>
	</ui:define>

	<ui:define name="pavadinimas">
 	 	All projects
 	 </ui:define>

</ui:composition>